@import url('http://fonts.googleapis.com/css?family=Cabin|Montserrat|Nunito|Roboto')

body 
	background-color: rgb(240, 240, 240)
	color: rgb(100, 100, 100)
	font-family: 'Nunito'
	font-size: 16px
	margin: 0
	padding: 0
	text-align: center

/**
 * COLORS (Only)
 */

/* Helpers */
.u-bar
	background-color: rgb(100, 100, 100)
	display: block
	height: 25px
	margin: 0
	padding: 0
.u-barContainer
	border: 1px solid rgb(100, 100, 100)
	border-radius: 0.5rem
	display: block
	height: 25px
	margin: 0 auto
	width: 250px
.u-blank
	background: rgb(250, 250, 250);
	border-radius: 0.75rem
	margin: 1rem
	padding: 0
.u-block
	margin: 1rem
	padding: 0
.u-half
	background: rgb(250, 250, 250);
	border-radius: 0.75rem
.u-skills,
.u-tag
	margin: 0
	padding: 0
.u-skills
	list-style: none
	padding-bottom: 2rem
	
/* Components */	
.Article
	display: block
	margin: 0
	padding: 0
	width: 100%
.Article-title
	margin: 0
	padding: 1rem 0.5rem 0 0.5rem
.Article-paragraph
	margin: 1.5rem 1.5rem 0 1.5rem
	padding: 0 0 1.5rem 0
	text-align: left
.Article-oList
	list-style: none
	margin: 1.5rem
	padding: 0 0 1.5rem 0
.Article-oItem
	padding: 0.25rem 0
.Article-uList
	list-style: none
	margin: 1.5rem
	padding: 0 0 1.5rem 0
.Article-uItem
	padding: 0.25rem 0
.Header
	display: block
	margin: 2rem 0
	padding: 0
	width: 100%
.Header-avatar
	border: 0.3rem solid rgb(250, 250, 250)
	border-radius: 50% 
	height: auto
	width: 200px
.Header-avatarDescription,
.Header-avatarDescriptionName,
.Header-avatarDescriptionText,
.Header-avatarDescriptionLink
	margin: 0
	padding: 0
.Header-avatarDescription
	margin: 0 auto
.Header-figure
	margin: 0 auto
	padding: 0
.Footer
	margin-top: 2rem
.Nav
	background-color: rgb(150, 100, 150)
	display: block
	margin: 0
	padding: 0
	width: 100%
.Nav-container
	align-content: center
	align-items: center
	display: flex
	flex-direction: row
	justify-content: space-between
	margin: 0
	padding: 0
	width: 100%
.Nav-link
	color: rgb(230, 230, 230)
	font-weight: bold
	margin: 1rem
	text-decoration: none
	transition: background-color 0.25s ease
	&:hover
		color: rgb(250, 250, 250)
.Nav-linkText
	margin: 0
	padding: 0
.Nav-uItem
	display: inline-block
	margin: 0
	padding: 0
	padding: 1rem 0
.Nav-uLink
	color: rgb(230, 230, 230)
	margin: 0
	padding: 1rem
	text-decoration: none
	        transition: background-color 0.25s ease
	&:hover
		background-color: rgb(120, 70, 120)
		color: rgb(250, 250, 250)
.Nav-uList
	display: block
	margin: 0 1rem
	padding: 0
	
#html,
#css,
#js,
#php,
#python,
#linux
	border-radius: 0.5rem
#html
	width: 80%
#css
	width: 70%
#js
	width: 65%
#php
	width: 50%
#python
	width: 10%
#linux
	width: 40%

@media screen and (min-width: 680px)
	.Article
		margin-left: auto
		margin-right: auto
		width: 600px
	.Article-paragraph
		margin-left: 3rem
		margin-right: 3rem

@media screen and (min-width: 1000px)
	.u-block
		align-content: center
		align-items: center
		display: flex
		flex-direction: row
		justify-content: space-between
		padding: 0
	.u-half
		background: rgb(250, 250, 250);
		border-radius: 0.75rem
	.u-halfLeft
		margin-right: 1rem
		min-width: 50%
	.u-halfRight
		margin-left: 1rem
		min-width: 42%
	.u-tag
		display: inline-block
		margin: 1rem
	.Article
		margin: 0 auto;
		width: 1000px
	.Article-title
		padding: 1rem 0 0.75rem 0
	.Article-oList
		margin: 1rem 3rem
		padding-bottom: 0.75rem
	.Article-paragraph
		display: block
		margin: 0 auto
		padding-bottom: 2rem
		width: 50em
	.Article-oList
		margin-to: 0
		padding-top: 0
	.Article-uList
		margin: 0 2rem
		padding-bottom: 1rem
	.Nav-container
		margin: 0 auto
		width: 1000px