doctype html
html
	head
		meta(charset="utf-8")
		title Curso de C | Michell Ayala
		script(data-require="prefixfree@*", data-semver="1.0.7", src="//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js")
		link(data-require="normalize@*", data-semver="3.0.1", rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css")
		link(data-require="normalize@*", data-semver="3.0.1", rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css")
		link(href="http://fonts.googleapis.com/css?family=Cabin|Montserrat|Nunito|Roboto", rel="stylesheet", type="text/css")
		link(rel="stylesheet", href="css/styles.css")
		script(src="script.js")

	body
		nav.Nav
		h2.Nav-return
		a(href="http://michelayala.github.io/index.html").Nav-returnLink Inicio

		section.Main
			h1.Main-title Cursos
			a(href="http://michelayala.github.io/c/index.html").Main-link

			article.Main-course
				figure.Main-figure
					img(src="" alt="").Main-image
					figcaption.Main-figcaption
						h3.Main-figcaptionTitle Lenguaje C
						p.Main-figcaptionDescription Uno de los lenguajes de programación más importantes de la historia.

			article.Main-course
				figure.Main-figure
					img(src="" alt="").Main-image
					figcaption.Main-figcaption
						h3.Main-figcaptionTitle HTML
						p.Main-figcaptionDescription Lenguaje de etiquetas de hiper texto, beibe.

			article.Main-course.u-inactive
				figure.Main-figure
					img(src="" alt="").Main-image
					figcaption.Main-figcaption
						h3.Main-figcaptionTitle C++
						p.Main-figcaptionDescription C con esteroides. Algo completamente nuevo y descomunal.
						span.Main-label PROXIMAMENTE

			article.Main-course.u-inactive
				figure.Main-figure
					img(src="" alt="").Main-image
					figcaption.Main-figcaption
						h3.Main-figcaptionTitle SQL
						p.Main-figcaptionDescription Bases de datos basados en el Lenguaje Structurado de Consultas
						span.Main-label PROXIMAMENTE

		footer.Footer
			p.Footer-description Michel Ayala - 2015