/* Styles go here */
body 
  background-color: rgb(240, 240, 240)
  color: rgb(100, 100, 100)
  font-family: 'Nunito'
  font-size: 16px
  margin: 0
  padding: 0
  text-align: center


/***
 UTILITIES
*/
.u-inactive 
  color: rgba(100, 100, 100, 0.75)
  opacity: 0.75


.u-inactive:hover 
  color: rgba(100, 100, 100, 0.75)


.u-inactive img 
  background-color: rgba(100, 100, 100, 0.75)


.u-inactive span 
  background-color: rgba(100, 100, 100, 0.75)


/****************************
*********** FOOTER **********
*****************************/

.Footer

	margin: 0 auto
	padding: 1rem
	width: 1000px


/****************************
************ MAIN ***********
*****************************/

.Main 
  margin: 1rem auto
  padding: 0
  width: 1000px


.Main-course 
  background-color: rgb(255, 255, 255)
  border-radius: 0.75rem
  box-shadow: 0 1px 3px 0
  display: block
  margin: 1rem auto
  transition: 0.25s box-shadow ease
  width: 100%


.Main-figure 
  align-items: center
  align-content: center
  display: flex
  flex-direction: row
  justify-content: flex-start
  margin: 0 auto
  padding: 0


.Main-image 
  background-color: #966496
  border-radius: 50%
  height: 100px
  margin: 1rem
  padding: 0
  width: 100px


.Main-figcaption 
  display: block
  text-align: left
  margin: 0 0 0 1rem
  padding: 0


.Main-figcaptionTitle 
  font-size: 1.35rem
  margin: 0
  padding: 0


.Main-figcaptionDescription 
  margin: 0
  padding: 0


.Main-label 
  color: #fff
  text-shadow: 0.5px 0.5px 1px rgb(50,50,50)
  background: #966496
  border-radius: 0.25rem
  display: inline-block
  font-size: 0.75rem
  font-weight: bold
  margin: 0
  padding: 0.25rem


.Main-link,
.Main-link:active,
.Main-link:hover,
.Main-link:link,
.Main-link:visited 
  color: rgb(100, 100, 100)
  text-decoration: none


.Main-link:hover .Main-course 
  box-shadow: 0 3px 4px 0


.Main-title 
  font-size: 1.75rem
  display: block
  margin: 0 auto
  padding: 1rem


/****************************
************ NAV ************
*****************************/

.Nav 
  align-items: center
  background-color: rgb(255, 255, 255)
  border-radius: 0.75rem
  box-shadow: 0 1px 3px 0
  display: flex
  flex-direction: row
  justify-content: space-between
  margin: 1rem auto 0 auto
  padding: 0
  width: 1000px


.Nav-return 
  display: inline-block
  font-size: 1rem
  margin: 0
  padding: 1.5rem 1rem
  text-align: left


.Nav-returnLink,
.Nav-uLink 
  text-decoration: none
  transition: 0.25s all ease


.Nav-returnLink,
.Nav-returnLink:link,
.Nav-returnLink:visited,
.Nav-uLink,
.Nav-uLink:link,
.Nav-returnLink:visited 
  color: rgb(140, 140, 140)


.Nav-returnLink:hover,
.Nav-uLink:hover 
  color: rgb(80, 80, 80)


.Nav-uList 
  list-style: none


.Nav-profileName,
.Nav-profileImage 
  display: inline-block
  vertical-align: middle


.Nav-profileImage 
  background-color: rgb(100, 100, 100)
  border-radius: 50%
  height: 48px
  width: 48px


.Nav-uItem 
  display: inline-block
  margin-right: 1rem
